<style type="text/css">
  .mobile {
    display: none;
    font-size: 13px;
  }

  @media only screen and (min-width : 320px) and (max-width : 1200px) {
    .mobile {
      display: inline;
    }
  }

  .desktop {
    display: none;
  }

  @media only screen and (min-width : 1201px) {
    .desktop {
      display: inline;
    }
  }

  * {
    box-sizing: border-box;
  }

  .mySlides1,
  .mySlides2,
  .mySlides3,
  .mySlides4,
  .mySlides5,
  .mySlides6 {
    display: none
  }

  .slideshow-container {
    max-width: 1920px;
    position: relative;

  }

  .trademark {
    vertical-align: super;
    font-size: small;
  }

  .prev1,
  .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 30px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev1:hover,
  .next1:hover {
    background-color: #f1f1f1;
    color: black;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  .row2 {
    display: flex;
    max-width: 1920px;
    padding-left: 0;

  }

  .column2 {
    display: inline-block;
    width: 50%;
    background-color: #070B14;
    color: white;
  }

  .column3 {
    display: inline-block;
    width: 33.33%;
  }

  .column4 {
    display: inline-block;
    width: 25%;
  }

  .columntextmobile {

    background-color: #450815;
    color: white;
    top: 1px;
    left: 1px;
    padding: 5%;
    max-width: 640px;
  }

  .overlaytext {
    position: absolute;
  }

  .overlaytextwhite {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-top: 10px;
    color: black;
  }

  .overlaytextblack {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    padding-top: 10px;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: white;
  }

  .accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
    color: black;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .dot {

    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot:hover {
    background-color: grey;
  }

  .primaryTextColor {
    color: #76E5EA;
  }

  .secondaryTextColor {
    color: #00AEEF;
  }

  /* For Image Zoom On Click */
  input[type=checkbox] {
    display: none;
  }

  .containerZoom img {
    padding: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }

  input[type=checkbox]:checked~label>img {
    transform: scale(2);
    cursor: zoom-out;
  }

  /* For Image Zoom On Click */
</style>
<div style="display: none;">
  <p>Level up your sitting game with comfort and massage. The Predator X OSIM Series & OSIM uThrone give gamers that
    extra
    energy boost you need for prolonged gaming and allow you to relieve neck, shoulders and lumbar pain while
    re-energizing the whole body.
    <br>
    <strong>*Estimated delivery by Early Jan 2021.</strong> &#xfeff;&#xfeff;&#xfeff;&#xfeff;&#xfeff;</p>
</div>
<div class="mobile">

  <!-- Unbox Video -->
  <div style="max-width: 640px; background-color: black;">
    <div>
      <video width="100%" controls style="margin: auto auto; display: block;">
        <source
          src="  https://gitlab.com/codekakis/osim-shopify/-/raw/master/The%20World's%20First%20Gaming%20Massage%20Chair.mp4"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!--Mobile Banner 1-->
  <div style="max-width: 640px; position: relative; text-align: center;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m1.jpg?v=1604565123">
    <div class="overlaytext primaryTextColor" style="top: 5%; text-align: center; width: 100%;">
      <div style="font-size: 20px;">Predator Gaming Chair X OSIM</div>
      <p><span>The World’s 1st Gaming Massage Chair</span></p>
    </div>
  </div>

  <!-- Hear from Press -->
  <div
    style="text-align: center; background-color:#231F20; padding-top: 5%; color: white; line-height: 30px; max-width: 640px;">
    <img style="margin: auto auto"
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press.jpg?v=1608794685">
    <!-- IGN -->
    <div style="padding-top: 8%;">
      <img style="margin: auto auto"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press-01.png?v=1608794685">
      <div style="padding-left: 10%; padding-right: 10%;">
        “And if you want to get extra comfortable, users can also lie back in the Predator Gaming Chair x OSIM at a
        145-degree angle.”
        <br>- IGN Southeast Asia
      </div>
    </div>

    <!-- PC GAMER -->
    <div style="padding-top: 8%;">
      <img style="margin: auto auto"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press-02.png?v=1608794686">
      <div style="padding-left: 10%; padding-right: 10%;">
        “It's not just a comfy place to rest your butt of an evening, it's taking OSIM's Massage chair heritage and
        applying four discrete, and discreet, rollers to your aching spine. With a total of six different ways to adjust
        them, you can find the perfect position to hit your shoulders too.”
        <br>- PC Gamer
      </div>
    </div>

    <!-- PCWorld -->
    <div style="padding-top: 8%;">
      <img style="margin: auto auto"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press-03.png?v=1608794685">
      <div style="padding-left: 10%; padding-right: 10%;">
        “………This isn’t your average gaming chair, in other words.”
        <br>- PCWorld
      </div>
    </div>

    <!-- Slashgear -->
    <div style="padding-top: 8%; padding-bottom: 10%;">
      <img style="margin: auto auto"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press-04.png?v=1608794685">
      <div style="padding-left: 10%; padding-right: 10%;">
        “…….the most interesting gaming accessory Acer announced today is its new gaming chair.”
        <br>- Slashgear
      </div>
    </div>
  </div>

  <!-- Video -->
  <div style="background-color: black; max-width: 640px;">
    <div style="padding-top: 3%; padding-bottom: 3%;">
      <video width="50%" controls style="margin: auto auto; display: block;">
        <source src="https://gitlab.com/codekakis/osim-shopify/-/raw/master/2%20-%20Banner.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!--Mobile Banner 2-->
  <div style="max-width: 640px; position: relative;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m2.jpg?v=1604565123">
    <div class="overlaytext"
      style="top: 5%; text-align: center; width: 100%; padding-left: 10%; padding-right: 10%; color: white; font-size: 0.6rem; line-height: 2;">
      <h3 class="secondaryTextColor">Level up your game with Comfort and Massage</h3>
      <div style="font-size: 13px; line-height: 20px;"><span>A game battle usually commands your full attention and
          requires you to be
          laser-focused on the flight
          in front of you. Rounds of intense gaming can cause your body to be tense for a prolonged period, resulting in
          body
          pains that effect your gaming performance. Maximize your resting time in between and after your game sessions
          with a
          massage that kneads away all of your body aches.</span></div>
    </div>
  </div>
  <!--Mobile Banner 3-->
  <div style="max-width: 640px;"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m3.jpg?v=1604565123">
  </div>
  <!--Mobile Banner 4-->
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m4_a.jpg?v=1604565123"></div>
  <div
    style="text-align: center; width: 100%; background-color: #070B14; color: white; display: inline-block; padding-top: 3%;">
    <h3 class="secondaryTextColor">V - Hand<span class="trademark">TM</span> Technology</h3>
    <ul style="width: 80%; margin: 3% auto; text-align: left;">
      <li>Emulates the skilful techniques and flexibility of a masseuse's hands</li>
      <li>360° massage rollers to roll along your neck & shoulder contour</li>
      <li>Delivers a targeted neck & shoulder massage for effective pain relief</li>
    </ul>
  </div>
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m4_b.jpg?v=1604565123"></div>
  <div
    style="text-align: center; width: 100%; background-color: #070B14; color: white; display: inline-block; padding-top: 3%;">
    <h3 class="secondaryTextColor">Predator Gaming Chair x OSIM <br> Shoulder GRIP</h3>
    <ul style="width: 80%; margin: 3% auto; text-align: left;">
      <li>Realistic hand-grip massage to relieve stiff neck and muscle knots</li>
      <li>Rolls along neck & shoulder contours to target pain points</li>
      <li>Eases tension and strain effectively</li>
    </ul>
  </div>
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m4_c.jpg?v=1604565123"></div>
  <div
    style="text-align: center; width: 100%; background-color: #070B14; color: white; display: inline-block; padding-top: 3%;">
    <h3 class="secondaryTextColor">Predator Gaming Chair x OSIM <br> Lumbar PRESS</h3>
    <ul style="width: 80%; margin: 3% auto; text-align: left;">
      <li>Glides and presses along the lumbar to relieve back pain</li>
      <li>Deep and relaxing massage to target lower back stiffness</li>
      <li>Alleviates back soreness from prolonged sitting</li>
    </ul>
  </div>

  <!-- Mobile Banner 5/Slider-->
  <div class="slideshow-container">
    <div class="mySlides2"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m5_a.jpg?v=1604565124"
        style="width: 640px;"></div>
    <div class="mySlides2"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m5_b.jpg?v=1604565123"
        style="width: 640px;"></div>
    <div class="mySlides2"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m5_c.jpg?v=1604565124"
        style="width: 640px;"></div>
    <div class="mySlides2"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m5_d.jpg?v=1604565123"
        style="width: 640px;"></div>
    <a class="prev1" onclick="plusSlides(-1, 1)">❮</a> <a class="next1" onclick="plusSlides(1, 1)">❯</a>
    <div style="position: absolute; bottom: 10px; width: 100%; padding: 0 auto; text-align: center;"><span class="dot"
        onclick="currentSlide(1, 1)"></span> <span class="dot" onclick="currentSlide(2, 1)"></span> <span class="dot"
        onclick="currentSlide(3, 1)"></span> <span class="dot" onclick="currentSlide(4, 1)"></span></div>
  </div>

  <!-- <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m5_a.jpg?v=1604565124">
    <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m5_b.jpg?v=1604565123">
    <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m5_c.jpg?v=1604565124">
    <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m5_d.jpg?v=1604565123">
  </div> -->

  <!--Mobile Banner 6-->
  <div style="max-width: 640px;"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m6.jpg?v=1604565123">
  </div>
  <!--Mobile Banner 7-->
  <div style="max-width: 640px; position: relative;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m7.jpg?v=1604565123">
    <div class="overlaytext"
      style="top: 5%; text-align: left; width: 100%; padding-left: 5%; padding-right: 5%; color: white;">
      <h3 class="secondaryTextColor">Concealed Control Panel</h3>
      <p><span>The stealthily concealed control panel on your right armrest minimises wires and accidental button
          hitting, while giving you manual control over your favourite auto programs or DIY your massage preference with
          ease.
        </span></p>
    </div>
  </div>
  <!--Mobile Banner 8a-->
  <div style="max-width: 640px; position: relative;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m8_a.jpg?v=1604565123">
    <div class="overlaytext"
      style="bottom: 5%; text-align: center; width: 100%; padding-left: 5%; padding-right: 5%; color: black;">
      <div style="font-size: 20px; font-weight: bold;" class="secondaryTextColor">Adjustable shoulder position</div>
      <div><span>With 3 different shoulder positions to choose from, to suit all different body height.
        </span></div>
    </div>
  </div>
  <div style="max-width: 640px; position: relative;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m8_b.jpg?v=1604565123">
    <div class="overlaytext"
      style="bottom: 5%; text-align: center; width: 100%; padding-left: 5%; padding-right: 5%; color: black;">
      <div style="font-size: 20px; font-weight: bold;" class="secondaryTextColor">Dynamic massage positions</div>
      <div><span>Adjust massage rollers to any area of the back to effectively target any specific pain points.
        </span></div>
    </div>
  </div>
  <div style="max-width: 640px; position: relative;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m8_c.jpg?v=1604565123">
    <div class="overlaytext"
      style="bottom: 5%; text-align: center; width: 100%; padding-left: 5%; padding-right: 5%; color: black;">
      <div style="font-size: 20px; font-weight: bold;" class="secondaryTextColor">Agile massage techniques</div>
      <div><span>Easily customize kneading, tapping and rolling massage to your liking.
        </span></div>
    </div>
  </div>
  <!--Mobile Banner 9-->
  <div style="max-width: 640px;"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m9.jpg?v=1604565124">
  </div>

  <!-- Mobile Banner 10-->
  <div class="slideshow-container">
    <div class="mySlides5"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m10_a.jpg?v=1604895702"
        style="width: 640px;">
    </div>
    <div class="mySlides5"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m10_b.jpg?v=1604895702"
        style="width: 640px;">
    </div>
    <div class="mySlides5"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m10_c.jpg?v=1604895702"
        style="width: 640px;">
    </div>
    <div class="mySlides5"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m10_d.jpg?v=1604895702"
        style="width: 640px;">
    </div>
    <div class="mySlides5"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m10_e.jpg?v=1604895702"
        style="width: 640px;">
    </div>
    <div class="mySlides5"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m10_f.jpg?v=1604895702"
        style="width: 640px;">
    </div>
    <a class="prev1" onclick="plusSlides(-1, 4)">❮</a> <a class="next1" onclick="plusSlides(1, 4)">❯</a>
    <div style="position: absolute; bottom: 10px; width: 100%; text-align: center;"><span class="dot"
        onclick="currentSlide(1, 4)"></span> <span class="dot" onclick="currentSlide(2, 4)"></span> <span class="dot"
        onclick="currentSlide(3, 4)"></span> <span class="dot" onclick="currentSlide(4, 4)"></span> <span class="dot"
        onclick="currentSlide(5, 4)"></span> <span class="dot" onclick="currentSlide(6, 4)"></span></div>
  </div>

  <!-- Mobile Banner 11-->
  <div style="max-width: 640px; text-align: center;">
    <a href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/uThrone_Assembly_Guide_A3_FA_unpath_-converted.pdf?v=1604630462"
      target="_blank">
      <img style="margin: auto auto;"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/11_-_Banner.jpeg?v=1604728386"></a>
  </div>

  <!-- Mobile Banner 12-->
  <div style="max-width: 640px; text-align: center; padding-top: 5%;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m12_a.jpg?v=1604565123"
      style="margin: auto auto; width: 50%">
    <div style="text-align: center; width: 100%; display: inline-block;">
      <p style="padding-left: 10%; padding-right: 10%;">Predator Gaming Chair x OSIM is designed for comfort, relaxation
        and durability. It aims to tackle pain points of prolonged sitting. Each aspect of the chair has gone through
        rigorous amount of testing to ensure that it is of industry standards, so you can sit back and relax in your
        Predator Gaming Chair x OSIM.
        <br> <br> <strong>Click on each icon to view certificate</strong>
      </p>
    </div>
    <div style="max-width: 640px; margin: auto auto;"><a
        href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/1.pdf?v=1604581386" target="_blank"><img
          src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m12_b.png?v=1604565123"></a></div>
    <div style="max-width: 640px; margin: 10% auto;"><a
        href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/2.pdf?v=1604581388" target="_blank"><img
          src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m12_c.png?v=1604565123"></a></div>
    <div style="max-width: 640px; margin: 10% auto;"><a
        href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/3.pdf?v=1604581386" target="_blank"><img
          src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m12_d.png?v=1604565122"></a></div>
    <div style="max-width: 640px; margin: 10% auto;"><a
        href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/4.pdf?v=1604581386" target="_blank"><img
          src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m12_e.png?v=1604565122"></a></div>
  </div>
  <!-- Mobile Banner 13-->
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m13_a.png?v=1604565124"></div>
  <div style="text-align: center; width: 100%; display: inline-block;">
    <div style="font-size: 20px;" class="secondaryTextColor">CHAIR</div>
    <p style="width: 80%; margin: auto auto;"><span>Predator Gaming Chair x OSIM has been certified according to BIMFA
        standards, the leading authority in furniture comfort, safety and durability.
      </span></p>
    </ul>
  </div>
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m13_b.png?v=1604565123"></div>
  <div style="text-align: center; width: 100%; display: inline-block;">
    <div style="font-size: 20px;" class="secondaryTextColor">UPHOLSTERY</div>
    <p style="width: 80%; margin: auto auto;"><span>Its upholstery have undergone quality tests by Boken (Japan’s
        leading comprehensive testing organization for textile and lifestyle goods).
      </span></p>
    </ul>
  </div>
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m13_c.png?v=1604565123"></div>
  <div style="text-align: center; width: 100%; display: inline-block;">
    <div style="font-size: 20px;" class="secondaryTextColor">HYDRAULICS</div>
    <p style="width: 80%; margin: auto auto;"><span>The hydraulics featured in each Predator Gaming Chair X OSIM has
        undergone rigorous durability tests and has received certification from globally recognized organization like
        Intertek.
      </span></p>
    </ul>
  </div>
  <!-- Mobile Banner 14-->
  <div style="max-width: 640px; position: relative;">
    <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m14_a.jpg?v=1604565123">
    <div class="overlaytext" style="top: 5%; text-align: center; color: white; font-size: 0.6rem; line-height: 2;">
      <p style="width: 80%; margin: auto auto;"><span>The PVC leatherette using on our Predator Gaming Chairs x OSIM
          have undergone quality certification test
          by BOKEN.* (Japan’s leading testing organization for textile and lifestyle goods)</span></p>
    </div>
  </div>
  <div style="max-width: 640px; position: relative;">
    <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m14_b.jpg?v=1604565123">
    <div class="overlaytext" style="top: 5%; text-align: center; color: white; font-size: 0.6rem; line-height: 2;">
      <p style="width: 80%; margin: auto auto;"><span>Our Predator Gaming Chair x OSIM has been certified according to
          the Business and Institutional Furniture
          Manufacturer's Association (BIFMA) standards, the leading authority in furniture comfort, safety and
          durability.*</span></p>
    </div>
  </div>
  <!-- Mobile Banner 15/Slider-->
  <div class="slideshow-container">
    <div class="mySlides1"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m15_a.jpg?v=1604565123"
        style="width: 640px;"></div>
    <div class="mySlides1"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m15_b.jpg?v=1604565123"
        style="width: 640px;"></div>
    <div class="mySlides1"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m15_c.jpg?v=1604565123"
        style="width: 640px;"></div>
    <div class="mySlides1"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m15_d.jpg?v=1604565123"
        style="width: 640px;"></div>
    <div class="mySlides1"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m15_e.jpg?v=1604565123"
        style="width: 640px;"></div>
    <a class="prev1" onclick="plusSlides(-1, 0)">❮</a> <a class="next1" onclick="plusSlides(1, 0)">❯</a>
    <div style="position: absolute; bottom: 10px; width: 100%; padding: 0 auto; text-align: center;"><span class="dot"
        onclick="currentSlide(1, 0)"></span> <span class="dot" onclick="currentSlide(2, 0)"></span> <span class="dot"
        onclick="currentSlide(3, 0)"></span> <span class="dot" onclick="currentSlide(4, 0)"></span> <span class="dot"
        onclick="currentSlide(5, 0)"></span></div>
  </div>

  <!-- Mobile Banner 16-->
  <div style="max-width: 640px;"><a href="https://form.jotform.com/203621711062442" target="_blank"><img
        src="https://cdn.shopify.com/s/files/1/0462/3450/1280/files/predator-gaming-chair-warranty-m.jpg?v=1614055995"></a>
  </div>

  <!--Product Spec-->
  <div style="position: relative; margin-top: 5%; padding-left: 3%;">
    <h2>Specifications</h2>
    <p>Measurements in CM</p>
  </div>
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m16_a.jpg?v=1604565122"></div>
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m16_b.jpg?v=1604565122"></div>
  <div style="max-width: 640px;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m16_c.jpg?v=1604565123"></div>
  <div style="padding-left: 3%;">
    <p style="line-height: 18px;"><strong>Model</strong><br>Predator<br><br> <strong>Model
        number</strong><br>PGC-090<br><br> <strong>Adaptor input</strong><br>240V ~ 50/60Hz<br><br> <strong>Adaptor
        output</strong><br>24V --- 2.5A<br><br> <strong>Power consumption</strong><br>60W<br><br> <strong>Auto
        timer</strong><br>15 minutes<br><br> <strong>Backrest recline angle</strong><br>Approx 145 degree<br><br>
      <strong>Armrest extension for height</strong><br>6.5 cm<br><br> <strong>Seat extension for height</strong><br>10
      cm<br><br> <strong>Weight</strong><br>Gross weight - Approx. 34 kg<br>Net weight - Approx. 27.5 kg</p>
  </div>

</div>
</div>
<!-- End Product Spec -->


<!--Desktop Start -->
<div class="desktop" style="max-width: 1920px;">

  <!-- Unbox Video -->
  <div style="background-color: black;">
    <div>
      <video width="100%" controls style="margin: auto auto; display: block;">
        <source
          src="  https://gitlab.com/codekakis/osim-shopify/-/raw/master/The%20World's%20First%20Gaming%20Massage%20Chair.mp4"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Desktop Banner 1 -->
  <div style="position: relative;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/1_-_Banner.jpg?v=1604484727">
    <div class="overlaytext" style="left: 10%; top: 10px; width: 400px; height:400px;;
      padding: 140px 80px 80px 80px; margin-top: 7%; border-radius: 50%; background-color: black; text-align:center;">
      <div style="color: cyan; font-size: x-large; font-weight: bold;">Predator <br> Gaming Chair x OSIM</div>
      <div class="primaryTextColor" style="line-height: 20px; margin-top: 10px;">The World's 1st <br> Gaming Massage
        Chair</div>
    </div>
  </div>

  <!-- Hear from Press -->
  <div style="text-align: center; background-color:#231F20; padding-top: 3%; color: white; line-height: 30px;">
    <img style="margin: auto auto"
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press.jpg?v=1608794685">
    <!-- IGN -->
    <div style="padding-top: 3%;">
      <img style="margin: auto auto"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press-01.png?v=1608794685">
      <div style="padding-left: 30%; padding-right: 30%;">
        “And if you want to get extra comfortable, users can also lie back in the Predator Gaming Chair x OSIM at a
        145-degree angle.”
        <br>- IGN Southeast Asia
      </div>
    </div>

    <!-- PC GAMER -->
    <div style="padding-top: 3%;">
      <img style="margin: auto auto"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press-02.png?v=1608794686">
      <div style="padding-left: 30%; padding-right: 30%;">
        “It's not just a comfy place to rest your butt of an evening, it's taking OSIM's Massage chair heritage and
        applying four discrete, and discreet, rollers to your aching spine. With a total of six different ways to adjust
        them, you can find the perfect position to hit your shoulders too.”
        <br>- PC Gamer
      </div>
    </div>

    <!-- PCWorld -->
    <div style="padding-top: 3%;">
      <img style="margin: auto auto"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press-03.png?v=1608794685">
      <div style="padding-left: 30%; padding-right: 30%;">
        “………This isn’t your average gaming chair, in other words.”
        <br>- PCWorld
      </div>
    </div>

    <!-- Slashgear -->
    <div style="padding-top: 3%; padding-bottom: 5%;">
      <img style="margin: auto auto"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/predator-gaming-chair-press-04.png?v=1608794685">
      <div style="padding-left: 30%; padding-right: 30%;">
        “…….the most interesting gaming accessory Acer announced today is its new gaming chair.”
        <br>- Slashgear
      </div>
    </div>
  </div>

  <!-- Video / Desktop Banner 2 -->
  <div style="background-color: black;">
    <div style="padding-top: 3%; padding-bottom: 3%;">
      <video width="40%" controls style="margin: auto auto; display: block;">
        <source src="https://gitlab.com/codekakis/osim-shopify/-/raw/master/2%20-%20Banner.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Desktop Banner 3 -->
  <div style="position: relative;">
    <img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/3_-_Banner_d0392804-b6ae-4135-8df6-0bc9c313a68a.jpg?v=1604893241">
    <div class="overlaytext" style="left: 25px; top: 10px; color: white; max-width: 40%;">
      <div style="margin-bottom: 10px; font-size: 2em;" class="secondaryTextColor">Level up your game with Comfort and
        Massage</div>
      <p style="line-height: 20px;">A game battle usually commands your full attention and requires you to be
        laser-focused on the flight in front of you. Rounds of intense gaming can cause your body to be tense for a
        prolonged period, resulting in body pains that effect your gaming performance. Maximize your resting time in
        between and after your game sessions with a massage that kneads away all of your body aches.</p>
    </div>
  </div>

  <!-- Desktop Banner 4 -->
  <div class="row2">
    <div class="column2"><img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/4.1_-_Banner.jpg?v=1604488253"
        alt="">
    </div>
    <div class="column2" style="padding: 100px; padding-top: 15%;">
      <h2 class="secondaryTextColor">V - Hand<span class="trademark">TM</span> Technology</h2>
      <ul>
        <li>Emulates the skilful techniques and flexibility of a masseuse's hands</li>
        <li>360° massage rollers to roll along your neck & shoulder contour</li>
        <li>Delivers a targeted neck & shoulder massage for effective pain relief</li>
      </ul>
    </div>
  </div>

  <!-- Desktop Banner 5 -->
  <div class="row2">
    <div class="column2" style="position: relative;">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/5a_-_Banner.jpg?v=1604484726" alt="">
      <div class="overlaytext" style="color: white; bottom: 5%; left: 10%">
        <div style="margin-bottom: 5px;" class="secondaryTextColor">Predator Gaming Chair x OSIM <br> <span
            style="font-size: 20px;">Shoulder
            GRIP</span></div>
        <ul>
          <li>Realistic hand-grip massage to relieve stiff neck and muscle knots</li>
          <li>Rolls along neck & shoulder contours to target pain points</li>
          <li>Eases tension and strain effectively</li>
        </ul>
      </div>
    </div>

    <div class="column2" style="position: relative;">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/5b_-_Banner.jpg?v=1604484726" alt="">
      <div class="overlaytext" style="color: white; bottom: 5%; left: 10%">
        <div style="margin-bottom: 5px;" class="secondaryTextColor">Predator Gaming Chair x OSIM <br>
          <span style="font-size: 20px;">Lumbar PRESS</span></div>
        <ul>
          <li>Glides and presses along the lumbar to relieve back pain</li>
          <li>Deep and relaxing massage to target lower back stiffness</li>
          <li>Alleviates back soreness from prolonged sitting</li>
        </ul>
      </div>
    </div>
  </div>


  <!--Desktop Banner 6 -->
  <div style="position: relative;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/6_-_Banner.jpg?v=1604484727">
    <div class="overlaytext" style="top: 5%; text-align: center; padding-right: 10%; padding-left: 10%; width: 100%;">
      <strong>
        <h2 class="secondaryTextColor">Regenerate faster with specialized massage programs</h2>
      </strong>
      <p style="color: white;">Prolonged gaming can cause body aches due to being immobile in a tense posture for long
        hours. Activate professional massage programs and quickly recover your body condition.
      </p>
    </div>
  </div>

  <!--Desktop Banner 7-->
  <div style="position: relative;"><img
      src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/7_-_Banner.jpg?v=1604484727">
    <div class="overlaytext" style="top: 40%; right: 5%; width: 35%;">
      <h2 class="secondaryTextColor">Concealed Control Panel</h2>
      <p style="line-height: 22px; color: white;">The stealthily concealed control panel on your right armrest minimises
        wires and
        accidental button hitting, while giving you manual control over your favourite auto programs or DIY your massage
        preference with ease.
      </p>
    </div>
  </div>


  <!--Desktop Banner 8 A/B/C -->
  <div class="row2">
    <!-- A -->
    <div class="column3" style="position: relative;">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/8a_-_Banner.jpg?v=1604484726" alt="">
      <div class="overlaytext" style="bottom: 10%; width: 70%; left: 15%; right: 15%; text-align: center;">
        <strong>
          <div class="secondaryTextColor" style="font-size: 20px;">Adjustable shoulder position</div>
        </strong>
        <div style="color: black;">With 3 different shoulder positions to <br> choose from, to suit all different
          body<br> height.
        </div>
      </div>
    </div>
    <!-- B -->
    <div class="column3" style="position: relative;">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/8b_-_Banner.jpg?v=1604484726" alt="">
      <div class="overlaytext" style="bottom: 10%; width: 70%; left: 15%; right: 15%; text-align: center;">
        <strong>
          <div class="secondaryTextColor" style="font-size: 20px;">Dynamic massage positions
          </div>
        </strong>
        <div style="color: black;">Adjust massage rollers to any area of<br>the back to effectively target<br> any
          specific pain points.
        </div>
      </div>
    </div>
    <!-- C -->
    <div class="column3" style="position: relative;">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/8c_-_Banner.jpg?v=1604484726" alt="">
      <div class="overlaytext" style="bottom: 10%; width: 70%; left: 15%; right: 15%; text-align: center;">
        <strong>
          <div class="secondaryTextColor" style="font-size: 20px;">Agile massage techniques
          </div>
        </strong>
        <div style="color: black;">Easily customize kneading, <br> tapping and rolling <br> massage to your liking.
        </div>
      </div>
    </div>
  </div>

  <!-- Desktop Banner 9 -->
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/9_-_Banner.jpg?v=1604484727" alt="">
  </div>

  <!-- Desktop Banner 10 -->
  <div class="slideshow-container">
    <div class="mySlides4"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/10a_-_Slider.jpg?v=1604894825" style="width: 100%;">
    </div>
    <div class="mySlides4"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/10b_-_Slider.jpg?v=1604894825" style="width: 100%;">
    </div>
    <div class="mySlides4"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/10c_-_Slider.jpg?v=1604894825" style="width: 100%;">
    </div>
    <div class="mySlides4"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/10d_-_Slider.jpg?v=1604894825" style="width: 100%;">
    </div>
    <div class="mySlides4"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/10e_-_Slider.jpg?v=1604894825" style="width: 100%;">
    </div>
    <div class="mySlides4"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/10f_-_Slider.jpg?v=1604894825" style="width: 100%;">
    </div>
    <a class="prev1" onclick="plusSlides(-1, 3)">❮</a> <a class="next1" onclick="plusSlides(1, 3)">❯</a>
    <div style="position: absolute; bottom: 10px; width: 100%; text-align: center;"><span class="dot"
        onclick="currentSlide(1, 3)"></span> <span class="dot" onclick="currentSlide(2, 3)"></span> <span class="dot"
        onclick="currentSlide(3, 3)"></span> <span class="dot" onclick="currentSlide(4, 3)"></span> <span class="dot"
        onclick="currentSlide(5, 3)"></span> <span class="dot" onclick="currentSlide(6, 3)"></span></div>
  </div>

  <!-- Desktop Banner 11 -->
  <!-- <div class="containerZoom">
    <input type="checkbox" id="zoomCheck">
    <label for="zoomCheck">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/11_-_Banner.jpeg?v=1604728386">
    </label>
  </div> -->

  <div style="padding: 100px;">
    <a href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/uThrone_Assembly_Guide_A3_FA_unpath_-converted.pdf?v=1604630462"
      target="_blank">
      <img style="margin: auto auto;"
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/11_-_Banner.jpeg?v=1604728386"></a>
  </div>


  <!-- Desktop Banner 12 -->
  <div style="text-align: center;">
    <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/12a.png?v=1604484726" style="margin: auto auto;">
    <p style="padding-left: 10%; padding-right: 10%;">Predator Gaming Chair x OSIM is designed for comfort, relaxation
      and durability. It aims to tackle pain points of prolonged sitting. Each aspect of the chair has gone through
      rigorous amount of testing to ensure that it is of industry standards, so you can sit back and relax in your
      Predator Gaming Chair x OSIM.
      <br> <br> <strong>Click on each icon to view certificate</strong>
    </p>
  </div>

  <div class="row2" style="text-align: center; padding-left: 10%; padding-right: 10%; padding-bottom: 3%;">
    <div class="column4" style="padding-left: 3%; padding-right: 3%; margin: auto auto;">
      <a href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/1.pdf?v=1604581386" target="_blank"> <img
          src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/12b.png?v=1604565747"></a>
    </div>
    <div class="column4" style="padding-left: 3%; padding-right: 3%; margin: auto auto;">
      <a href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/2.pdf?v=1604581388" target="_blank"><img
          src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/12c.png?v=1604565747"></a>
    </div>
    <div class="column4" style="padding-left: 3%; padding-right: 3%; margin: auto auto;">
      <a href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/3.pdf?v=1604581386" target="_blank"><img
          src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/12d.png?v=1604565747"></a>
    </div>
    <div class="column4" style="padding-left: 3%; padding-right: 3%; margin: auto auto;">
      <a href="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/4.pdf?v=1604581386" target="_blank"><img
          src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/12e.png?v=1604565747"></a>
    </div>
  </div>

  <div class="row2" style="text-align: center;">
    <div class="column3">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m13_a.png?v=1604565124"
        style="padding-left: 20%; padding-right: 20%; margin: auto auto;">
      <div style="padding-left: 20%; padding-right: 20%;" class="secondaryTextColor">CHAIR</div>
      <p style="padding-left: 20%; padding-right: 20%;">Predator Gaming Chair x OSIM has been certified according to
        BIMFA standards, the leading authority in furniture comfort, safety and durability.
      </p>
    </div>

    <div class="column3">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m13_b.png?v=1604565123"
        style="padding-left: 20%; padding-right: 20%; margin: auto auto;">
      <div style="padding-left: 20%; padding-right: 20%;" class="secondaryTextColor">UPHOLSTERY</div>
      <p style="padding-left: 20%; padding-right: 20%;">Its upholstery have undergone quality tests by Boken (Japan’s
        leading comprehensive testing organization for textile and lifestyle goods).
      </p>
    </div>

    <div class="column3">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m13_c.png?v=1604565123"
        style="padding-left: 20%; padding-right: 20%; margin: auto auto;">
      <div style="padding-left: 20%; padding-right: 20%;" class="secondaryTextColor">HYDRAULICS</div>
      <p style="padding-left: 20%; padding-right: 20%;">The hydraulics featured in each Predator Gaming Chair X OSIM has
        undergone rigorous durability tests and has received certification from globally recognized organization like
        Intertek.
      </p>
    </div>
  </div>

  <!-- Desktop Banner 13 -->
  <div class="row2" style="margin-top: 20px;">
    <div class="column2" style="position: relative;">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m14_a.jpg?v=1604565123">
      <div class="overlaytext" style="top: 3%; padding-left: 10%; padding-right: 10%; color: white;">The PVC leatherette
        using on our Predator Gaming Chairs x OSIM have undergone quality certification test by BOKEN.* (Japan’s leading
        testing organization for textile and lifestyle goods)
      </div>
    </div>
    <div class="column2" style="position: relative;">
      <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/m14_b.jpg?v=1604565123">
      <div class="overlaytext" style="top: 3%; padding-left: 10%; padding-right: 10%; color: white;">Our Predator Gaming
        Chair x OSIM has been certified according to the Business and Institutional Furniture Manufacturer's Association
        (BIFMA) standards, the leading authority in furniture comfort, safety and durability.*
      </div>
    </div>
  </div>


  <!--Desktop Slider -->
  <div class="slideshow-container">
    <div class="mySlides3"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/14a_-_Slider.jpg?v=1604484726" style="width: 100%;">
    </div>
    <div class="mySlides3"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/14b_-_Slider.jpg?v=1604484727" style="width: 100%;">
    </div>
    <div class="mySlides3"><img
        src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/14c_-_Slider.jpg?v=1604484727" style="width: 100%;">
    </div>
    <a class="prev1" onclick="plusSlides(-1, 2)">❮</a> <a class="next1" onclick="plusSlides(1, 2)">❯</a>
    <div style="position: absolute; bottom: 10px; width: 100%; text-align: center;"><span class="dot"
        onclick="currentSlide(1, 2)"></span> <span class="dot" onclick="currentSlide(2, 2 )"></span> <span class="dot"
        onclick="currentSlide(3, 2)"></span></div>
  </div>

  <!-- Desktop Banner 14 -->
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0103/3823/8530/files/15_-_Banner.jpg?v=1604484729">
  </div>

  <!-- Desktop Banner 14.5 -->
  <div>
    <a href="https://form.jotform.com/203621711062442" target="_blank"><img
        src="https://cdn.shopify.com/s/files/1/0462/3450/1280/files/predator-gaming-chair-warranty.jpg?v=1614055995">
    </a>
  </div>

  <!-- Desktop Banner 15 -->
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0462/3450/1280/files/product-sheet-uthrone-orange_1.jpg?v=1614056002">
  </div>

</div>
<script>
  // <![CDATA[
  var slideIndex = [1, 1, 1, 1, 1, 1];
  var slideId = ["mySlides1", "mySlides2", "mySlides3", "mySlides4", "mySlides5", "mySlides6"]
  showSlides(1, 0);
  showSlides(1, 1);
  showSlides(1, 2);
  showSlides(1, 3);
  showSlides(1, 4);

  function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
  }

  function currentSlide(n, no) {
    showSlides(slideIndex[no] = n, no);
  }

  function showSlides(n, no) {
    var i;
    var x = document.getElementsByClassName(slideId[no]);
    if (n > x.length) {
      slideIndex[no] = 1
    }
    if (n < 1) {
      slideIndex[no] = x.length
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex[no] - 1].style.display = "block";
  }

  var coll = document.getElementsByClassName("accordion");
  for (var i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function (evnt) {
      const currClassList = evnt.target.classList;
      if (currClassList.contains('collapsed')) {
        evnt.target.classList.remove("collapsed");
        var content = evnt.target.nextElementSibling;
        content.style.maxHeight = null;
      } else {
        for (var j = 0; j < coll.length; j++) {
          coll[j].classList.remove("collapsed")
          coll[j].nextElementSibling.style.maxHeight = null;
        }
        this.classList.toggle("collapsed");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      }
    });
  }
  // ]]>
</script>